<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body class="dashbdy">
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                    <div class="pull-left ltopcon">
                        @*<h3>IMS University</h3>*@
                        @*<input type="text" class="form-control" />
                            <i class="fa fa-search"></i>*@
                    </div>
                    <div class="pull-right rtopcon">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-info"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-bell"></i>
                                </a>
                            </li>
                            <li class="userinfo">
                                <a href="javascript:void(0)" class="user-dtl">
                                    <span>Web Designers Hub<i class="fa fa-angle-down"></i></span>
                                </a>
                                <div class="top-sub-menu">
                                    <div class="arrow_box"></div>
                                    <div class="top-sub-menu-inner">
                                        <div class="pro-base">
                                            <div class="pro-img">
                                                <img src="~/Images/user-img.png" />
                                            </div>
                                            <div class="pro-name">
                                                <span class="pro-user-name">Vishal Singh</span>
                                                <span class="pro-user-email">Web Designers hub</span>
                                                <span class="pro-user-setting"><a href="javascript:void(0)">Profile & Preferences</a></span>
                                            </div>
                                        </div>
                                        <div class="pro-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)">Account & Billing</a></li>
                                                <li><a href="javascript:void(0)">Configuration</a></li>
                                            </ul>
                                        </div>
                                        <div class="pro-footer">
                                            <span class="pull-left"><a href="@Url.Action("Logout","Auth")">Sign out</a></span>
                                            <span class="pull-right"><a href="javascript:void(0)">Privacy policy</a></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="innerbdy">
        <div class="sidebar">
            <div class="navigation-menu">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            @*<i class="fa fa-shopping-cart"></i>*@
                            Masters <i class="fa fa-angle-up"></i>
                            <p class="sml-desc">Fees Type,Subjects....</p>
                        </a>
                        <div class="smenu" menu-level="hm4">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i>General Management</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i>Accounting Management</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i>Libray Management</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i>Transport Management</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Transaction<i class="fa fa-angle-up"></i>
                            <p class="sml-desc">Student,Followup,Admission....</p>
                        </a>
                        <div class="smenu" menu-level="hm10">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-adjust"></i>Student Info</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-list-alt"></i>Enquiry Followup</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Admission/Invoice</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Reciept</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Other Reciept</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Accounting</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Attendance</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Transport</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Time Table</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Event Management</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Assignment</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Library<i class="fa fa-angle-up"></i>
                            <p class="sml-desc">Issue,Return,Circulation....</p>
                        </a>
                        <div class="smenu" menu-level="hm4">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-adjust"></i>Book Issue</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-list-alt"></i>Book Return</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Book Circulation Report</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i>Book Catalouge Report</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Settings<i class="fa fa-angle-up"></i>
                            <p class="sml-desc">Organisation,Branch....</p>
                        </a>
                        <div class="smenu" menu-level="hm7">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-user"></i>Organisation</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-list-alt"></i>Branch</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-plug"></i>Custom Document Title</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-file-import"></i>Role & Permission</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-map-marker"></i>User Management</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-bell"></i>Notification</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i>Preference</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Reports<i class="fa fa-angle-up"></i>
                            <p class="sml-desc">Student,Employee,Fees....</p>
                        </a>
                        <div class="smenu" menu-level="hm9">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-user"></i>Student</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-list-alt"></i>Employee</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-plug"></i>Fees</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-file-import"></i>Time Table</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-map-marker"></i>Batch Scheduling</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-bell"></i>Other Certificated</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i>Outflow</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i>SMS Delivery</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i>Financial</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i>Inventory</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightcontentsec">
            @RenderBody()
        </div>
    </div>

</body>
</html>