@using System.Data;
@using System.Configuration;
@using ERP.Models.Common;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body class="dashbdy">
    <div class="header">
        <div class="container-fluid">
            <div class="leftlogo pull-left">

            </div>
            <div class="rtopcon pull-right">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-info"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <li class="userinfo user-dtl">
                        <a href="javascript:void(0)">
                            <span>Web Designers Hub<i class="fa fa-angle-down"></i></span>
                        </a>
                        <div class="top-sub-menu">
                            <div class="arrow_box"></div>
                            <div class="top-sub-menu-inner">
                                <div class="pro-base">
                                    <div class="pro-img">
                                        <img src="~/Images/user-img.png" />
                                    </div>
                                    <div class="pro-name">
                                        <span class="pro-user-name">Vishal Singh</span>
                                        <span class="pro-user-email">Web Designers hub</span>
                                        <span class="pro-user-setting"><a href="javascript:void(0)">Profile & Preferences</a></span>
                                    </div>
                                </div>
                                <div class="pro-menu">
                                    <ul>
                                        <li><a href="javascript:void(0)">Account & Billing</a></li>
                                        <li><a href="javascript:void(0)">Configuration</a></li>
                                    </ul>
                                </div>
                                <div class="pro-footer">
                                    <span class="pull-left"><a href="@Url.Action(" Logout", "Auth")">Sign out</a></span>
                                    <span class="pull-right"><a href="javascript:void(0)">Privacy policy</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="top-menu">
        <div class="container-fluid">
            <div class="top-menu-inside">
                @{
                    if (Session["ModuelInfo"] != null)
                    {
                        <ul>
                            @{
                                DataTable dt = new DataTable();
                                dt = (DataTable)Session["ModuelInfo"];
                                DataRow[] result = dt.Select("[PARENT_ID] IS NULL");
                                int i = 0;
                                foreach (DataRow dtRow in result)
                                {
                                    <li>
                                        @{
                                            if (i == 0)
                                            {
                                                <a class="top-men-active" href="@dtRow["LINK"]">
                                                    @dtRow["MODULE_NAME"]
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@dtRow["LINK"]">
                                                    @dtRow["MODULE_NAME"]
                                                </a>
                                            }
                                        }
                                    </li>
                                                i++;
                                            }
                            }

                        </ul>
                                            }
                }
            </div>
        </div>
    </div>
    <div class="basebody">
        <div class="container-fluid">
          @RenderBody()
        </div>
    </div>
</body>
</html>
