@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div id="logincontent"></div>
    <script src="@Url.Content("../../React/authorization/login.jsx")"></script>

    <div class="modal fade" id="selectorg" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select Organization</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="listorg show">
                        <div class="leftlist">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-home"></i> IMS College, Noida
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="rightoption">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-check"></i> Select
                                    </a>
                                </li>
                                <li>
                                    <a data-direction="top" data-target="#createorg" class="openmodal" href="javascript:void(0)">
                                        <i class="fa fa-plus"></i> Create
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-edit"></i> Modify
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-times"></i> Remove
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="createorg" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Organization</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="createorg">
                        <div class="setupform">
                            <div class="form-group">
                                <label>Enter Name of Oraganization</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="title">
                                <span><i class="fa fa-list"></i>Basic Details</span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <div class="formbase">
                                        <div class="form-group">
                                            <label>Address Line 1</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address Line 2</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <div class="formbase">
                                        <div class="form-group">
                                            <label>Fax No.</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Website</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="btn-group">
                            <span class="pull-left"><a href="javascript:void(0)">I will do it later</a></span>
                            <span class="pull-right"><a href="javascript:void(0)" class="btn btn-success">Create</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</body>
</html>
